#main {
    background-color: #928779;
    font-family: system-ui;
}

#title {
    background-color: #928779;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

#img-div {
    padding: 20px;
    background-color: FEF5EC;
    display: block;
    margin: 0 auto 0 auto;
    width: 80%;
}
#image {
    padding-top: 10px;
    display: block;
    margin: 0 auto 0 auto;
    width: 40%;
}

#img-caption {
    text-align: center;
}

#tribute-info {
    background-color: #FEF5EC;
    padding: 10px 40px 10px 40px;
    display: block;
    margin: 40px auto 0px auto;
    width: 80%;

}

#tribute-info h2 h3{
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #928779;
    color: white;
    display: block;
    padding: 10px 40px 10px 40px;
    text-align: center;
}
